<ion-modal-view>

<head>
  <ion-view view-title="Add a new word">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<div ng-show="alert" >
    Word added sucessfully.
</div>

  <ion-content>
    <form ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Tibetan Word</span>
          <input type="text" ng-model="$parent.addWord.word">
        </label>
        <label class="item item-input">
<!--           <span class="input-label">Tibetan Definition</span>
 -->          <input type="text" placeholder="Tibetan Definition:" ng-model="$parent.addWord.definition">
        </label>
                <label class="item item-input">
          <span class="input-label">English Word</span>
          <input type="text" ng-model="$parent.addWord.english_word">
        </label>
        <label class="item item-input">
<!--           <span class="input-label">English Definition</span>
 -->          <input type="text" placeholder="English Definition:" ng-model="$parent.addWord.english_definition">
        </label>


        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
