<ion-modal-view>

<head>
  <ion-view view-title="Add a new word">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<div ng-show="alert" >
    Word added sucessfully.
</div>

  <ion-content>
    <form name="userForm">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="$parent.addWord.word" name="word" placeholder="Tibetan Word | བོད་ཡིག་" required>
             <span style="color:red" ng-show="userForm.word.$invalid">
    <span ng-show="userForm.word.$error.required">** required</span>
    </span>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="$parent.addWord.definition" placeholder="Tibetan Definition| བོད་ཡིག་གོ་དོན་">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="$parent.addWord.english_word" name="english_word" placeholder="English Word | དབྱིན་ཡིག་" required>
            <span style="color:red" ng-show="userForm.english_word.$invalid">
                <span ng-show="userForm.english_word.$error.required">** required</span>
                </span>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="$parent.addWord.english_definition" placeholder="English Definition | དབྱིན་ཡིག་གོ་དོན་">
        </label>


        <label class="item">
          <button class="button button-block button-positive" ng-click="submit()" type="submit">Submit</button>
        </label>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
