<ion-modal-view>
 <!-- <ion-header-bar>
    <h1 class="title">Contact the team!</h1>
  <!--  <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div> -->
  </ion-header-bar>    -->

<head>
  <ion-view view-title="Contact the team!">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

  <ion-content>
    <form ng-submit="sentRequest()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="$parent.contact.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="$parent.contact.email_phone">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments/Feedback" ng-model="$parent.contact.feedback"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
