<ion-view view-title="Recently Added Words" ng-controller="wordRecent10Ctrl">

    <ion-content>
        <ion-scroll direction="y" style="height:103vh;">

				<div ng-repeat="word in words" href="#/app/word/{{word.id}}">
				    <div class="list card">

				        <div class="item item-avatar">
				            <img src="{{word.author.picture}}">
				            <h2>{{word.author.name}}</h2>
				            <p>{{word.createdAt}}</p>
				        </div>
				        <div class="item item-body" ng-click="gotoWord(word.id)">
				            {{word.word}} <br>
				            {{word.definition}} <br>
				            {{word.english_word}} <br>
				            {{word.english_definition}} <br>

				            <p>
				                <a href="#" class="subdued">{{word.like}} Like</a>
				                <a href="#" class="subdued">{{word.dislike}} Dislike</a>
				                <a href="#" class="subdued">Created On {{word.createdAt}} </a>
				            </p>

				        </div>

				        <div class="item tabs tabs-secondary tabs-icon-left">
				            <a class="tab-item" ng-click="likeWordFunction(word.id,$index)">
				                <i class="icon ion-thumbsup"></i>
				                Like
				            </a>
				            <a class="tab-item" ng-click="dislikeWordFunction(word.id, $index)">
				                <i class="icon ion-thumbsdown"></i>
				                Dislike
				            </a>

				        </div>
				    </div>

				</div>
            <br><br><br><br><br><br><br>

            <ion-scroll>

    </ion-content>

</ion-view>






<!-- <ion-view view-title="Recently Added Words" ng-controller = "wordRecent10Ctrl">

	 <ion-content>
		 <ion-scroll direction="y" style="height:103vh;">
		 <ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
		  </ion-refresher>
			<div class="list list-inset">
				<div ng-repeat="word in words" href="#/app/word/{{word.id}}" >
			    <div class="item" ng-click="gotoWord(word.id)" >
			      {{word.word}} <br>
			      {{word.definition}} <br>
			      {{word.english_word}} <br>
			      {{word.english_definition}} <br>

			     <p>
			      <a href="#" class="subdued">{{word.like}} Like</a>
			      <a href="#" class="subdued">{{word.dislike}} Dislike</a>
			      <a href="#" class="subdued">Created On {{word.createdAt}} </a>
			    </p>

			    </div>

			    <div class="item tabs tabs-secondary tabs-icon-left" >
			    <a class="tab-item" ng-click="likeWordFunction(word.id,$index)"  >
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			     <a class="tab-item" ng-click="dislikeWordFunction(word.id, $index)" >
			      <i class="icon ion-thumbsdown"></i>
			      Dislike
			    </a>

				  </div>
				  <br>
				</div>
			</div>

		 <ion-scroll >

	  </ion-content>

</ion-view>
 -->

