<ion-view view-title="Word">
  <ion-content padding="true">
             <h2> {{ x.word }} </h2> <br>
             {{ x.english_word }} <br> <br>

                         <a class=" pull-right" ng-click="likeWordFunction(word.id,$index)" >
						      <i class="icon ion-thumbsup"></i>
						     {{x.like}} Like
						  </a>
						   <a class=" pull-right" ng-click="dislikeWordFunction(word.id, $index)">
						      <i class="icon ion-thumbsdown"></i>
						     {{x.dislike}}  Dislike
						   </a>
              <br><br>

             {{ x.definition }} /{{ x.english_definition }}
  </ion-content>
</ion-view>